.container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  align-items: start;
}

.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(4),
.item:nth-child(5),
.item:nth-child(6),
.item:nth-child(8),
.item:nth-child(9),
.item:nth-child(10),
.item:nth-child(12) {
  flex-basis: 130px;
  flex-shrink: ;
  flex-grow: 1;
}

.item:nth-child(3),
.item:nth-child(7),
.item:nth-child(11) {
  flex-grow: 1;
  flex-shrink: ;
  flex-basis: 130px;
}